# Overview

Python uses `float` to represent real numbers such as `1.5`, `3.14`, or `2.7`.

## Creating a float

We can create a `float` variable through an assignment with a real number literal, for example

In [3]:
x = 1.5
print(x)
print(type(x))

1.5
<class 'float'>

Note that `5.0` and `5` are of different types

In [4]:
type(5)

int

In [5]:
type(5.0)

float

Although they are equal in value

In [6]:
5 == 5.0

True

Also, `5.`, `5.0`, and `5.000` are all the same

In [7]:
print(5.)
print(5.0)
print(5.000)

5.0
5.0
5.0

Similarly, `0.5` and `.5` are the same

In [8]:
print(0.5)
print(.5)

0.5
0.5

We can also create a `float` variable through an assignment with an expression that produces a `float`, for example

In [9]:
1.5 + 3.7

5.2

In [10]:
2 / 3

0.6666666666666666

Another way to create a `float` is to use *scientific notation*

In [12]:
# One thousand
1e3

1000.0

In [13]:
# Ten million
10e6

10000000.0

In [15]:
# 1.23 billion
1.23e9

1230000000.0

## When use float?

For storing real numbers in general. In many applications, we often treat `5.0` (`float`) and `5` (`int`) as if they are the same.

## Typecasting

We use `float()` function to convert values from other types to `float`. However, not all values can be converted to `float` (only float-like values can).

Example 1: values that can be converted to `float`

From `bool`

In [16]:
# True becomes 1.0
float(True)

1.0

In [17]:
# False becomes 0.0
float(False)

0.0

From `int`

In [20]:
# Just change the type
float(12)

12.0

From `str`

In [22]:
# Strings that look like a float
x = float("10.5")
print(x)
print(type(x))

10.5
<class 'float'>

In [23]:
# White spaces at two ends are ignored
x = float("  -10.5 ")
print(x)
print(type(x))

-10.5
<class 'float'>

In [24]:
# Leading zeros are also ignored
x = float("  -00010 ")
print(x)
print(type(x))

-10.0
<class 'float'>

However, strings like `"1,000,000.123"` (contains `,`) are not valid. Try it yourself to see the error.