# Flat data types

We can informally divide Python built-in data types into two groups: flat types and collection types. Roughly speaking, 

- A variable of a **flat type** is associated with an object that can contain only *one single element*.

- A variable of a **colection type** is associated an object that can contain *potentially multiple elements*.

Within the scope of this book

1. Flat types include: None type, truth values, integers, and real numbers. I will not cover complex numbers because as a data analyst/data scientist, you rarely use it.

1. Collection types include lists, tuples, ranges, strings, dictionaries, and sets.

1. Callable types such as function or class can be considered flat types. However, since they are so different from the ones mentioned above, I will not combine them in the "Datatypes" sections.

Note that this classification of data type into flat and collection is informal rather than standard. Other people might not agree with me.

Example 1: flat type examples

In [3]:
# Int
x = 5
print(x)

5

In [5]:
# Float
x = 10.5
print(x)

10.5

Example 2: collection type examples

In [7]:
# List
x = [1, 2, 3]
print(x)

[1, 2, 3]

In [8]:
# Set
x = {1, 2, 3}
print(x)

{1, 2, 3}

The next four chapters, from "NoneType type" to "Real numbers", belong to the flat types group.