# Integers

## Overview

Python uses `int` to represent integers (or whole numbers) such as `10`, `100`, or `-30`.

We can create an `int` variable through an assignment with an integer literal, for example

In [3]:
x = 5
print(x)

5

In [2]:
type(x)

int

We can also create an `int` variable through an assignment with an expression that produces an integer. Here are some examples of expressions producing integers.

In [5]:
# Addition of integers
x = 5 + 10
print(x)
print(type(x))

15
<class 'int'>

In [6]:
# Multiplication of integers
x = 5 * 10
print(x)
print(type(x))

50
<class 'int'>

Integers in Python can be arbitrarily long (there is no *overflow* behavior as in some other languages).

In [7]:
# A very long int
x = 3565622255488771132323355767676856586585965999884384
print(x)
print(type(x))

3565622255488771132323355767676856586585965999884384
<class 'int'>

## When use `int`?

We use `int` for values that should be integers such as age, years, number of children, etc.

## Typecasting

Similar to what we have learned with `bool`, we use `int()` function to convert values from other types to `int`. However, not all values can be converted to `int` (only integer-like values can).

Example 1: values that can be converted to `int`

From `bool`

In [11]:
# True becomes 1
int(True)

1

In [12]:
# False becomes 0
int(False)

0

From `float`

In [13]:
# Decimal part is truncated
int(12.34)

12

From `str`

In [15]:
# Strings that look like an integer
x = int("10")
print(x)
print(type(x))

10
<class 'int'>

In [16]:
# White spaces at two ends are ignored
x = int("  -10 ")
print(x)
print(type(x))

-10
<class 'int'>

In [17]:
# Leading zeros are also ignored
x = int("  -00010 ")
print(x)
print(type(x))

-10
<class 'int'>

However, strings like `"1,000,000"` (contains `,`) or `"12.34"` are not valid. Try them yourself to see errors.

## Operations on `int`

### Arithmetic

Addition, subtraction, multiplication

In [19]:
print(2 + 3)
print(2 - 3)
print(2 * 3)

5
-1
6

Real division (return real numbers, or `float`)

In [20]:
2 / 3

0.6666666666666666

In [22]:
# Even 4 is divisible by 2
# We still get a float back
4 / 2

2.0

Integer division (get the quotient)

In [24]:
2 // 3

0

Modulus (get the remainder)

In [25]:
2 % 3

2

Exponential

In [26]:
2**3

8

Negation

In [27]:
-10

-10

In [28]:
x = 10
print(-x)

-10

Note that a `bool` is actually an integer under the hood with `True` and `False` equivalent to `1` and `0`. 

Let's confirm this.

In [30]:
# Same value
print(True == 1)
print(False == 0)

True
True

In [32]:
# Use isinstance
print(isinstance(True, int))
print(isinstance(False, int))

True
True

Thus, we can perform arithmetic on `bool` and `int`, and the result is *promoted* to type `int` (more general)

In [34]:
# Bool plus bool
x = True + True
print(x)
print(type(x))

2
<class 'int'>

In [35]:
# Int plus bool
x = 5 + True
print(x)
print(type(x))

6
<class 'int'>

### Comparision

Comparisons on numbers (`int` or `float`) always return a `bool`. (Already covered in the previous chapter)

## Practice

### Ex 1

Do the following

- Create a variable `x` with value `100`
- Show its value and type


### Ex 2

Do the following

- Create a variable `x` with value `10.5`
- Show the value and type of `x`
- Create a variable `y` by applying `int()` on `x`
- Show the value and type of `y`

### Ex 3

Gives three examples that produce an integer