# Int type
Author: Tue Nguyen

## Overview
This lecture covers the following topics

- Why `int` type?
- How to get an `int`?
- Conversion to `int`
- When uses `int`?
- Operations on `int`

## Why `int` type?
- **Motivation:** used to represent integers such as count values
- **Real-life data:** number of children, years of educations, number of items purchased
- **Python implementation:** 
    - Type: `int`
    - Possible values: any integers

## How to get an `int`?

### Ex 1: from `int` literals

In [1]:
# Init an int variable
x = 10
print(x)
print(type(x))

10
<class 'int'>

In [2]:
# Integers in Python can be arbitrarily long 
# there is no overflow behavior as in some other languages
x = 3565622255488771132323355767676856586585965999884384
print(x)
print(type(x))

3565622255488771132323355767676856586585965999884384
<class 'int'>

### Ex 2: from an expression that produces a `int`
Here are some examples of expressions producing `int`s
- Math operations between `int`s
- A call to a function that returns an `int`
- Typecasting to `int`

**Math operations between `int`s**

In [11]:
# Init two variable
x = 4
y = 2

In [12]:
# Addition
x + y

6

In [13]:
# Subtraction
x - y

2

In [14]:
# Multiplication
x * y

8

In [15]:
# Exponential
x**y

16

In [16]:
# Integer division
x // 2

2

In [17]:
# Modulus
x % 2

0

**A call to a function producing an `int`**

In [20]:
# Sum of a list of integers
x = [1, 2, -2, 0, 7]
sum(x)

8

In [21]:
# Count the number of elements of a list
len(x)

5

**Typecasting to `int`**

- Use `int()` to convert a value to `int`
- Conversion to `int` is NOT always

In [ ]:
# From None to int
# Not possible

In [23]:
# From a bool to int
# True -> 1
# False -> 0
print(int(True))
print(int(False))

1
0

In [26]:
# From float to int
# The decimal part will be truncated
int(2.5)

2

In [29]:
# From str to int
# Only strings that look like integers can be converted
print(int("50"))
print(int("-50"))

50
-50

In [31]:
# White space at two ends are ignored
print(int("  50      "))
print(int("  -50      "))

50
-50

In [33]:
# Leading zeros are also ignored
int("050")

50

In [35]:
# However, "50,000" or "50.0" can not be converted to int
# Try them to see the errors

## When uses `int`?
Any time we need an integer

## Operations on `int`
- Math operations: `+, -, *, /, //, %, **`
- Comparison operations: `==, !=, >=, <=, >, <, is, is not`

## Summary
**Why `int` type?**
- Used to represent integers such as count values

**Conversion to `int`**
- Use `int()`
- Rules
    - `bool` to `int`: `True` -> `1` and `False` -> `0`
    - `float` to `int`: the decimal part will be truncated
    - `str` to `int`: the string must look like an integer
        - Whitespaces at two ends will be ignored
        - Leading zeros will be ignored
    - Conversion to `int` is NOT ALWAYS possible

**How to get an `int`?**
- From `int` literals: `x = 1000`
- From an expression that produces an `int` such as
    - Math operations between `int`s: `500 + 200`
    - Call a function that returns an `int`: `len(x)`
    - Typecasting: `int(x)`

**When uses `int`?**
- Any time we need an integer

**Operations on `int`**
- Math operations
- Comparison operations

## Practice
### Exercise 1

Do the following
- Create a variable `x` with value `100`
- Show its value and type


### Exercise 2

Do the following
- Create a variable `x` with value `10.5`
- Show the value and type of `x`
- Create a variable `y` by applying `int()` on `x`
- Show the value and type of `y`

### Exercise 3
Gives three examples that produce an integer