# Tuple type
Author: Tue Nguyen

## Overview
Topics covered in this lecture include
- What is a tuple?
- Create a tuple
- Index a tuple
- Slice a tuple
- Nested tuple
- Iterate through a tuple
- Copy a tuple
- Operations on a tuple
- Unpack a tuple
- Tuple comprehensions

## What is a tuple?
- The tuple type is identical to the list type, except that it is **immutable**

## Create a tuple
- To create a list we use `()` 
- Elements are separated by commas `,`

In [1]:
# Init a tuple
x = (1, 2, 3, 4)

# Print value and type
print(x)
print(type(x))

(1, 2, 3, 4)
<class 'tuple'>

In [7]:
# If a tuple has only one element
# we need to provide an extra comma 
x = (1,)
print(x)
print(type(x))

(1,)
<class 'tuple'>

In [8]:
# without this extra comma, 
# Python will interpret the RHS as number 1
x = (1)
print(x)
print(type(x))

1
<class 'int'>

In [9]:
# We can omit the parentheses
x = 1, 2, 3
print(x)
print(type(x))

(1, 2, 3)
<class 'tuple'>

In [11]:
# A  can hold elements of different types
# including lists and tuple
x = (None, True, 10, 20.5, "ABC", [1, 2], (3, 4))
print(x)
print(type(x))

(None, True, 10, 20.5, 'ABC', [1, 2], (3, 4))
<class 'tuple'>

In [14]:
# If there are too much elements
# You can arrange the elements in multiple lines
x = ("Apple", "Banana", "Orange", "Peach",
     "Guava", "Watermelon", "Pineapple")

print(x)
print(type(x))

('Apple', 'Banana', 'Orange', 'Peach', 'Guava', 'Watermelon', 'Pineapple')
<class 'tuple'>

## Index a tuple
- Same as indexing a list
- However, since a tuple is immutable, we don't have indexing (write)

In [15]:
# Init a tuple
x = (1, 2, 3, 4, 5)
x

(1, 2, 3, 4, 5)

In [16]:
# Get the first element
x[0]

1

In [17]:
# Get the third element
x[2]

3

In [18]:
# Get the last element
x[-1]

5

## Slice a tuple
- Same as slicing a list (but return a tuple)
- We also don't have slicing (write)

In [19]:
# Init a tuple
x = (1, 2, 3, 4, 5)
x

(1, 2, 3, 4, 5)

In [20]:
# First 3 elements
x[:3]

(1, 2, 3)

In [21]:
# Last 3 elements
x[-3:]

(3, 4, 5)

In [22]:
# From beginning to end 
# but skip one between each jump
x[::2]

(1, 3, 5)

In [23]:
# No out-of-range error for slicing
x[1:1000]

(2, 3, 4, 5)

## Nested tuples
- Same as lists, a tuple can contains other iterables including lists and tuples

In [24]:
# Init
x = (1, 2, (3, 4), [5, 6])
print(x)

(1, 2, (3, 4), [5, 6])

In [25]:
# Access the inner tuple
x[2]

(3, 4)

In [26]:
# Access the first element of inner tuple
x[2][0]

3

In [27]:
# Access the inner list
x[-1]

[5, 6]

In [28]:
# Access the last element of inner list
x[-1][-1]

6

## Iterate through a tuple
- Same as lists, we can use a `for` loop

In [29]:
# Init a tuple
x = (1, 2, 3, 4, 5)

(1, 2, 3, 4, 5)

In [30]:
# Print out squares of elements
for e in x:
    print(e**2)

1
4
9
16
25

## Mutablity
- A tuple is immutable, meaning that we cannot change it
- Each element hold a reference to an object, and that reference stays the same forever
- However, if one of the element is of mutable type, then we can still modify that mutable object
- Let's consider some examples

In [56]:
# Init
x = (1, 2, [3, 4])
print(x)
print(type(x))

(1, 2, [3, 4])
<class 'tuple'>

In [57]:
# This tuple holds three elements pointing to 3 objects
# with the following IDs
[id(e) for e in x]

[2400309963056, 2400309963088, 2400424707648]

In [58]:
# If you try to modify an element through an assignment 
# you will get an error
# Try with x[0] = "A" or x[-1] = "A"

In [59]:
# Notice that the last element of x is a list
x[-1]

[3, 4]

In [51]:
# A list is mutable, thus we can modify this list
# Ex: replace the first element of this list with "A"
x[-1][0] = "A"

In [60]:
# We see the change has been saved
x

(1, 2, [3, 4])

In [61]:
# But it doesn't mean the tuple changes
# The tuple still holding the same references as before
[id(e) for e in x]

[2400309963056, 2400309963088, 2400424707648]

## Copy a tuple

### Shallow copying
- There's no way to make a shallow copy of a tuple
- A tuple doesn't have method `.copy()`
- If you use `y = x[:]` or `y = tuple(x)`, it's aliasing, NOT copying

In [33]:
# Init a tuple
x = (1, 2, [3, 4])
print(x)
print(id(x))

(1, 2, [3, 4])
2400425012864

In [41]:
# Try with y = x[:]
y = x[:]
print(id(x))
print(id(y))
print(x is y)

2400425012864
2400425012864
True

In [42]:
# Try with y = tuple(x)
y = x[:]
print(id(x))
print(id(y))
print(x is y)

2400425012864
2400425012864
True

### Deep copying
Same as lists, we use `copy.deepcopy()`

In [63]:
# Init 
x = (1, 2, [3, 4])
print(x)
print(type(x))
print(id(x))

(1, 2, [3, 4])
<class 'tuple'>
2400396599936

In [64]:
# Import module copy
import copy

In [65]:
# Make a deep copy
y = copy.deepcopy(x)

In [66]:
# Verify that x and y have the same values
print(x)
print(y)

(1, 2, [3, 4])
(1, 2, [3, 4])

In [67]:
# But they are different object
print(id(x))
print(id(y))
print(x is y)

2400396599936
2400424971328
False

In [68]:
# Now change 1st element of last element of x to False
x[-1][0] = False

In [69]:
# We see that only x changes, y stays the same
print(x)
print(y)

(1, 2, [False, 4])
(1, 2, [3, 4])

## Operations on a tuple
- Since tuples are immutale, we don't have **inplace operations**
- Other regular operations are the same as lists

## Unpack a tuple
Same as lists

In [70]:
# Init a tuple
my_date = (2022, 4, 1)
my_date

(2022, 4, 1)

In [74]:
# Unpack all
y, m, d = my_date
print(y, m, d)

2022 4 1

In [75]:
# Get date, month only
_, m, d = my_date
print(m, d)

4 1

In [77]:
# Get year only
y, *_ = my_date
print(y)

2022

In [78]:
# Get date only
*_, d = my_date
print(d)

1

## Tuple comprehensions
- Same as list comprehensions
- But the result will be a generator (for better performance)
- We will learn about generators later

In [80]:
# Int
x = (1, 2, 5, -1, 4, 0, 7, -3, -2)
x

(1, 2, 5, -1, 4, 0, 7, -3, -2)

In [81]:
# Get squares of elements of x
(e**2 for e in x)

In [84]:
# We can use typecasting to convert it into a tuple
tuple(e**2 for e in x)

(1, 4, 25, 1, 16, 0, 49, 9, 4)

In [86]:
# Get odd numbers only
tuple(e for e in x if e % 2 != 0)

(1, 5, -1, 7, -3)

In [88]:
# Get even and non-negative numbers only
tuple(e for e in x if (e % 2 == 0) and (e >= 0))

(2, 4, 0)

## Summary

**What is a list?**
- An immutable sequence
- Same as a list, except immutable

**Create a tuple**
- Method 1: `x = (1, 2, 3)`
- Method 2: `x = 1, 2, 3`
- For tuple of one element: `x = 1,` or `x = (1,)`

**Index a tuple**
- Same as lists
- No indexing (write) operations

**Slice a tuple**
- Same as lists
- No slicing (write) operations

**Nested tuple**
- Same as lists, a tuple can contains other iterables including lists and tuples

**Iterate through a tuple**
- Same as lists

**Mutability**
- A tuple is immutable, meaning that we cannot change it
- Each element hold a reference to an object, and that reference stays the same forever
- However, if one of the element is of mutable type, then we can still modify that mutable object

**Copy a tuple**
- No way to perform shallow copying on a tuple
    - Tuples don't have `.copy()` method
    - `y = x[:]` and `y = tuple(x)` is aliasing, not copying
- Deep copying is the same as with lists

**Operations on a tuple**
- No inplace operations
- Regular operations are the same as lists

**Unpack a tuple**
- Same as lists

**Tuple comprehensions**
- Same as lists, except that a generator will be returned