# Operations on lists

## Operations that don't change a list

These operations operate on lists and return some values, but don't modify the contents of the lists.

First, initialze two list

In [224]:
x = [2, 7, -3, 11.5, True, 2]
y = ["A", 1, 58.5, 94, [12, 20]]

In [210]:
print(x)
print(y)

[2, 7, -3, 11.5, True]
['A', 1, 58.5, 94, [12, 20]]

Count the number of elements

In [211]:
len(x)

5

Check membership

In [212]:
# Check if 2 is in x
2 in x

True

In [213]:
# Check if 99 is in x
99 in x

False

Count the number of occurrences of a value

In [226]:
# Count how many times True occurs
x.count(True)

1

In [225]:
# Count how many times 2 occurs
x.count(2)

2

In [227]:
# Count how many times 99 occurs
x.count(99)

0

Concatenate 2 lists

In [214]:
# Elements of x then elements of y
x + y

[2, 7, -3, 11.5, True, 'A', 1, 58.5, 94, [12, 20]]

In [215]:
# Elements of y then elements of x
y + x

['A', 1, 58.5, 94, [12, 20], 2, 7, -3, 11.5, True]

In [238]:
# Note that this operation doesn't change x and y
print(x)
print(y)

[2, 7, -3, 11.5, True, 2]
['A', 1, 58.5, 94, [12, 20]]

In [247]:
# To save the result from a concatenation
# You need to assign it to some variable
z = x + y
z

[2, 7, -3, 11.5, True, 2, 'A', 1, 58.5, 94, [12, 20]]

Replicate a list

In [216]:
# Replicate x 3 times
x * 3

[2, 7, -3, 11.5, True, 2, 7, -3, 11.5, True, 2, 7, -3, 11.5, True]

In [240]:
# Similarly, x is unchanged
x

[2, 7, -3, 11.5, True, 2]

Sort a list (if possible)

In [219]:
# We can sort x because 
# True can be treated as 1
sorted(x)

[-3, True, 2, 7, 11.5]

In [222]:
# However, we cannot sort y
# Because its element are not compatible
# (cannot compare a string to a number or a list)
# Try it yourself to see the error

In [223]:
# Sort values in descending order
sorted(x, reverse=True)

[11.5, 7, 2, True, -3]

In [241]:
# Of course, x is unchanged
x

[2, 7, -3, 11.5, True, 2]

In [246]:
# To save the sorted values
# You need an assignment
z = sorted(x)
z

[-3, True, 2, 2, 7, 11.5]

Get the index of the first occurence of a value

In [229]:
# Index of the first value 2
# returns 0 (first position)
x.index(2)

0

In [235]:
# Index of the first value True
# returns 4 (fifth position)
x.index(True)

4

In [234]:
# If the value is not in the list
# You will get an error
# Try x.index(99)

## Operations that change a list

These operations make some changes to a list, and often return `None`. They are often called "inplace" operation (happen inplace and save changes to the list)

First, initialize a list

In [310]:
x = [2, 7, -3, 11.5, 2, True]
print(x)
print(id(x))

[2, 7, -3, 11.5, 2, True]
1504903493056

Reverse a list

In [295]:
# No assignment is needed
x.reverse()
x

[True, 2, 11.5, -3, 7, 2]

In [296]:
# If you mistakenly assign x = x.reverse()
# You will get None back, because x.reverse() reverses x
# saves the change, and returns None
# then you re assign this None back to x
# then it overwrites the reversed values
# Now try to use y = x.reverse() to avoid messing up x
y = x.reverse()
print(y)

None

In [297]:
# Since you call x.reverse() twice
# you get back the original order
x

[2, 7, -3, 11.5, 2, True]

Sort a list

In [298]:
# Ascending sort
x.sort()
x

[-3, True, 2, 2, 7, 11.5]

In [299]:
# Descending sort
x.sort(reverse=True)
x

[11.5, 7, 2, 2, True, -3]

Append an element to the end of the list

In [300]:
# Append 99
x.append(99)
x

[11.5, 7, 2, 2, True, -3, 99]

In [301]:
# Append a list ['A', 'B']
x.append(['A', 'B'])
x

[11.5, 7, 2, 2, True, -3, 99, ['A', 'B']]

Extend a list by adding multiple elements to the end of the list

In [302]:
# Adding 55, 66 as two last elements 
x.extend([55, 66])
x

[11.5, 7, 2, 2, True, -3, 99, ['A', 'B'], 55, 66]

Insert an element into a given position

In [303]:
# Insert 100 into the 2nd position
x.insert(1, 100)
x

[11.5, 100, 7, 2, 2, True, -3, 99, ['A', 'B'], 55, 66]

Remove the first occurence of a value

In [304]:
# Initialize a another list
a = [1, 2, 4, 3, 4, 4]
a.remove(4)
a

[1, 2, 3, 4, 4]

Delete an element by index

In [305]:
# Delete the second element
del x[1]
x

[11.5, 7, 2, 2, True, -3, 99, ['A', 'B'], 55, 66]

Pop out the last value, and delete it from the list

In [306]:
# Last element of x is assigned to p
# and deleted from x
p = x.pop()

In [307]:
# Let's check x and p
print(x)
print(p)

[11.5, 7, 2, 2, True, -3, 99, ['A', 'B'], 55]
66

In [308]:
# We can choose to pop at a given index
# For example, pop the first element
p = x.pop(0)
print(x)
print(p)

[7, 2, 2, True, -3, 99, ['A', 'B'], 55]
11.5

Clear all element

In [309]:
# Empty the contents inside the object
# but still keeping the object
x.clear()
x

[]

In [311]:
# Confirm the object is the same
id(x)

1504903493056

Suppose we use a list to store date data. For example

In [313]:
my_date = [2022, 4, 1]
my_date

[2022, 4, 1]

Now, suppose we want to extract each of the elements of `my_date` into three variables `y`, `m`, `d`. One way to do it is through three assignment as follows.

In [314]:
y = my_date[0]
m = my_date[1]
d = my_date[2]

But there's a faster way to do it.

In [315]:
# Unpack three elements into y, m, d
y, m, d = my_date

In [316]:
# Confirm
print(y)
print(m)
print(d)

2022
4
1

Sometimes, if we want to extract some elements and ignore the others, we can use `_` for the unwanted variables so that we don't have to waste time thinking names for them.

In [320]:
# Get date, month only
_, m, d = my_date
print(m)
print(d)

4
1

In [321]:
# Get year only
y, _, _ = my_date
print(y)

2022

In [322]:
# Get year only, but faster
# Here, *_ means we don't care about the rest
# Just ignore all of them, regarless how many
y, *_ = my_date
print(y)

2022