# Overview

Python uses `int` to represent integers (or whole numbers) such as `10`, `100`, or `-30`.

## Create an integer

We can create an `int` variable through an assignment with an integer literal, for example

In [1]:
x = 5
print(x)

5

In [2]:
type(x)

int

We can also create an `int` variable through an assignment with an expression that produces an integer. Here are some examples of expressions producing integers.

In [3]:
# Addition of integers
x = 5 + 10
print(x)
print(type(x))

15
<class 'int'>

In [4]:
# Multiplication of integers
x = 5 * 10
print(x)
print(type(x))

50
<class 'int'>

Integers in Python can be arbitrarily long (there is no *overflow* behavior as in some other languages).

In [5]:
# A very long int
x = 3565622255488771132323355767676856586585965999884384
print(x)
print(type(x))

3565622255488771132323355767676856586585965999884384
<class 'int'>

## When use int?

We use `int` for values that should be integers such as age, years, number of children, etc.

## Typecasting

Similar to what we have learned with `bool`, we use `int()` function to convert values from other types to `int`. However, not all values can be converted to `int` (only integer-like values can).

Example 1: values that can be converted to `int`

From `bool`

In [6]:
# True becomes 1
int(True)

1

In [7]:
# False becomes 0
int(False)

0

From `float`

In [8]:
# Decimal part is truncated
int(12.34)

12

From `str`

In [9]:
# Strings that look like an integer
x = int("10")
print(x)
print(type(x))

10
<class 'int'>

In [10]:
# White spaces at two ends are ignored
x = int("  -10 ")
print(x)
print(type(x))

-10
<class 'int'>

In [11]:
# Leading zeros are also ignored
x = int("  -00010 ")
print(x)
print(type(x))

-10
<class 'int'>

However, strings like `"1,000,000"` (contains `,`) or `"12.34"` are not valid. Try them yourself to see errors.